<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" processIsolation="false" stopOnFailure="false" bootstrap="test/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Php Merge">
      <directory suffix="Test.php">test</directory>
    </testsuite>
  </testsuites>
  <!--<logging>-->
  <!--<log type="coverage-html" target="build/coverage"/>-->
  <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
  <!--<log type="junit" target="build/logs/junit.xml"/>-->
  <!--</logging>-->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
